@font-face {
    font-family: "Nunito Sans";
    src: url("fonts/NunitoSans_7pt_Condensed-Bold.ttf");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("fonts/RobotoSlab-Bold.ttf");
}

.font-r{
    font-weight: normal;
    font-family: "Roboto Slab";
}

.font-n{
    font-weight: normal;
    font-family: "Nunito Sans";
}

.line {
    border-radius: 2px;
    width: 70px;
    height: 7px;
    margin-top: 20px;
}

.btn1 {
    background-color: rgb(91, 186, 190);
    color: white;
    border: 0px;
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.img-cap {
    object-fit: cover;
    object-position: center;
}